<section>
    <h2>Create Post</h2>
    <form class="form create-form p-5 bg-slate-100 w-96 rounded-lg">
        <div class="form-group">
            <label for="title">Title:</label>
            <input class="form-input p-1" type="text" id="title" />
            <label for="content">Content:</label>
            <textarea class="form-input" id="content" rows="4" cols="50"></textarea>
        </div>
</section>