{{!-- need to make blog content corresponding to id in url populate this page --}}
<section class="p-5 mx-10 my-2  bg-white drop-shadow-lg border-2 border-double 
                    border-indigo-500 rounded-md text-blue-500">
        <h1>{{title}}</h1>
        <p>{{content}}</p>
        <p>{{post.comment}}</p>
</section>
