<section>
    <h1>Homepage</h1>
    <p>Welcome to the homepage</p>
    <p>Here is a list of some recent posts!</p>
    {{!-- i need to put the blog posts here --}}
    {{#each blog as |blog|}}
    <div class="blog">
        <h2>{{blog.title}}</h2>
        <p>{{blog.body}}</p>
    </div>
{{/each}}
    
    
</section>