<section class="text-center">
    <h1 class="p-5 mx-5 border-4 border-double rounded-md
                text-4xl text-white
                bg-gradient-to-r from-cyan-500 to-blue-500">
                H o m e p a g e</h1>
    
    <p class="p-5 bg-text-sky-400">Here is a list of some recent posts!</p>
    {{!-- i need to put the blog posts here --}}
    {{#each posts as |post|}}
        <h2>{{title}}</h2>
        <p>{{body}}</p>
    {{/each}}
    {{!-- i need to put the blog posts here --}}

    
    
</section>